@import '_preset';

$bg-bright:#008080;
$bg-dark:#004040;

body {
    background-image: url("/src/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    // darken and blur the bg image
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .7);
        z-index: -1;
    }
}

.interface {
    $width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $width;
    max-width: $width;
    height: 600px;
    overflow: hidden;

    border-radius: 12px;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

    &:hover {
        box-shadow:inset 0px 0px 0px 1px rgba(0, 102, 102, .7);
        transition: 0.1s ease-in-out;

        & button {
            color: rgb(255, 255, 255, .8);
        }

        & .button {
            box-shadow:inset 0px 0px 0px 1px rgba(50, 50, 50, .4);
        }
    }

    
    & td, & button {
        max-width: 110px;
    }
}

.interface, .buttons {
    color: white;
    background: rgba(30, 30, 30, .8);
    border: none;

    transition: all 0.2s ease-in-out;

    &:hover {
        background: rgba(30, 30, 30, .9);
        transition: all 0.2s ease-in-out;
    }
}

.result {
    text-align: right;
    font-size: 1.5rem;

    & td {
        padding: 0 50px;
    }

    & td.temp-result {
        font-size: 1.1rem;
        text-align: left;
        padding: 0 0 0 50px;
    }
}

.row {
    text-align: center;

    & td {
        width: 90px;
        height: 92px;
        border-radius: 10px;
        transition: background-color 0.1s ease-in-out;
    }

    & td:hover button {
        color: rgb(255, 255, 255, 1);   
        transition: all 0.1s ease-in-out;
    }

    & .button:hover {
        box-shadow:inset 0px 0px 0px 1px rgba(0, 102, 102, .7);
    }

    & td:active {
        background-color: rgba(0, 102, 102, .4);
        transition: background-color 0.1s ease-in-out;
    }
}

.special {
    background: rgba(0, 76, 76, .3);
    border-radius: 0;
}

button {
    background: none;
    width: 110px;
    height: 92px;
    border: none;
    color: rgba(255, 255, 255, .6);
    font-size: 1.3rem;

    transition: all 0.1s ease-in-out;
}

